.about {
  padding: 0 80px;
  background-color: #0a2850;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.about__content {
  padding: 119px 0 113px;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.about__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  margin-top: 110px;
  color: #ffffff;
  z-index: 1;
}

.about_paragraph {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
}

.about__cicle {
  width: 426px;
  height: 426px;
  border-radius: 100%;
  top: -152px;
  left: -129px;
  z-index: 0;
  background-color: #2f80ed;
  position: absolute;
}
