.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 0 100px 0 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.footer__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 16px;
}

.footer__list-item {
  color: #ffffff;
}

.footer__social-link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  color: #ffffff;
  padding: 108px 0 60px;
}
