.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  background-image: url(./../images/background_header.svg);
  background-position: center;
  background-size: cover;
}

.header__title {
  max-width: 729px;
  padding-top: 139px;
  padding-left: 80px;
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  color: #2f80ed;
  display: block;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__address {
  margin: 0;
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}
