.page {
  background-color: #fff;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", sans-serif, Arial, Helvetica;

  color: #000;
}
