.recipes {
  background-image: url(./../images/background_recipes.svg);
  background-color: #0a2750;
  background-position: center;
  background-size: cover;
  justify-content: center;
  padding: 100px 0 0 80px;
}

.recipes__title {
  margin: 0;
  margin-bottom: 24px;
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin-top: 80px;

  gap: 40px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  gap: 40px;
  padding-bottom: 215px;
}

.recipes__text {
  margin: 0;
}

.recipes__iframe {
  border: none;
  margin-bottom: 24px;
}
